source https://api.nuget.org/v3/index.json

storage: none
framework: net462, netstandard2.0, netstandard2.1, netcoreapp2.1, netcoreapp3.1

nuget FParsec >= 1.1.1
nuget FSharp.Core ~> 4.3 >= 4.3.4

group Test
  source https://api.nuget.org/v3/index.json

  nuget FParsec
  nuget Expecto framework: netcoreapp3.1
  nuget Microsoft.Net.Test.SDK
  nuget YoloDev.Expecto.TestSdk >= 0.9.2 framework: netcoreapp3.1

group net462
  source https://api.nuget.org/v3/index.json
  framework: net462

  nuget Expecto == 8.9.1
  nuget Expecto.VisualStudio.TestAdapter 10.0.2 version_in_path: true